.messages{
    display: flex;
    gap: 1rem;
    padding: 0 2 rem;
}

.left-m{
    display: flex;
    flex: 1 1;
    gap: 2rem;
    flex-direction: column;
    text-transform: uppercase;
    color: white;
}

.left-m>:nth-child(1){
    color: #FFD369;
    font-weight: bold;
}

.left-m>:nth-child(2),
.left-m>:nth-child(3){
    font-weight: bold;
    font-size: 3rem;
}

.left-m>:nth-child(4){
    text-transform: none;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 40px;
}

.right-m{
    flex: 1;
    position: relative;
}

.right-m>img{
    position: absolute;
    width: 17rem;
    height: 20rem;
    object-fit: cover;
    right: 8rem;
    top: 2rem;
}

.right-m>:nth-child(1){
    position: absolute;
    width: 17rem;
    height: 20rem;
    border: 2px solid #FFD369;
    background-color: transparent;
    right: 9rem;
    top: 0.9rem;
}

.right-m>:nth-child(2){
    position: absolute;
    width: 17rem;
    height: 19rem;
    top: 4rem;
    right: 7rem;
    background: #FFD369;
}

.arrows{
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 3rem;
}

.arrows>img{
    cursor: pointer;
    width: 1.5rem;
}

