.hero{
    display: flex;
    justify-content: space-between;
}

.left-h{
    padding: 2rem;
    padding-top: 1.5rem;
    flex: 3;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.best-skate{
    margin-top: 4rem;
    border-radius: 4rem;
    width: fit-content;
    padding: 20px 13px;
    text-transform: uppercase;
    color: #ECD444;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: medium;
}

.best-skate>span{
    z-index: 2;
}

.best-skate>div{
    position: absolute;
    background-color: #ECD444;
    width: 5.4rem;
    height: 80%;
    left: 8px;
    border-radius: 3rem;
    z-index: 1;
}


.hero-text{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    text-overflow: inherit;
}

.hero-text>div:nth-of-type(3){
    font-size: 1rem;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 1px;
    width: 80%;

}


.hero-buttons{
    display: flex;
    gap : 1rem;
    font-weight: normal;
}

.hero-buttons>:nth-child(1){
    color: #FFD369;
    background-color: #393E46;
    width: 8rem;
}


.hero-image{
    position: absolute;
    top: 10rem;
    right: 8rem;
    width: 23rem;
}

.hero-image-back{
    position: absolute;
    top: 4rem;
    right: 20rem;
    z-index: -1;
    width: 15rem;
}


@media screen and (max-width:768px)
{
    .hero{
        flex-direction: column;
        font-size: 1rem;
    }

    .best-skate{
        margin-top: 0;
        font-size: small;
        align-self: center;
        transform: scale(0.9);
        text-align: center;
    }

    .hero-text{
        font-size:  xx-large;
        align-items: center;
        justify-content: center;
    }
    .hero-buttons{
        align-items: center;
        justify-content: center;
    }
    
}







